body {
  background: #101010;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#pageHeader {
	display: flex;
	justify-content: space-between;
	height: 250px;
	background-color: #202020;
	width: 100%;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	padding-right: 20px;
}

#pageHeader form {
	color: #FFFFFF;
	margin-top: 45px;
}

.logo {
	color: #FFFFFF;
  	margin-left: 16px;
  	margin-top: 19px;
  	margin-bottom: -9px;
}

#c {
	margin-top: 300px;
	transition: all 0.7s;
  width: 97%;
}

#c.left {
	margin-left: -250px;
  padding-left: 0px;
}

#content {
	display: flex;
	flex-direction: column;
}

.contentBlock {
  margin: 20px;
  padding: 10px;
  background-color: #202020;
  width: 97%;
  color: #FFFFFF;
}

.nonContentBlock {
  margin: 20px;
  padding: 10px;
  width:100%;
}

.wide {
  display: none;
}

.narrow {
  display: block;
}

@media screen and (min-width: 1350px){
  .wide {
    display: block;
  }

  .narrow {
    display: none;
  }
}

.section-header:hover{
    padding:3px;
    margin-bottom:15px;
    margin-top:15px;
    background-clip:padding-box;
    background-color:#333
}

.collapsible{
    display:none;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

tr.player {
    border: 1px solid white;
}

tr.player > td {
    padding-top: 4px;
    padding-bottom: 4px;
}

#playerStatusCounter {
    margin-bottom: 0px
}
