{% extends "layout.html" %}
{% block title %}Kill Code Submission{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/forms.css") }}">
{% endblock %}
{% block content %}
<div class="contentBlock">
  <form action="" method="post">
    {{ form.csrf_token }} 
    {{ form.killcode.label }}:
    {{ form.killcode(class="form-field") }}<br><br>
    {{ form.submit(class="btn btn-secondary form-btn") }}
  </form>
</div>
{% endblock %}
{% block footer %}{% endblock %}
