{% extends "layout.html" %}
{% block title %}Rules{% endblock %}
{% block content %}
<div class="contentBlock">
  <h1>BVU Humans vs Zombies Game Rules</h1>
  <h4>Moderators: Mel Graf & Glenn Hackbarth</h4>
  <br>
  <h2>GAMEPLAY</h2>
  <hr>
  <p>HvZ is a continuous game of tag that lasts the entire weekend. All players start as human, trying to survive the weekend and complete missions.  One player is the Original Zombie (OZ), who appears to be human for the first hours of the game, but can tag humans as a zombie.  As the weekend progresses, it is the goal of the Zombies to turn all of the humans by game end.
  </p>
  <br>
  <h2>ITEMS NEEDED</h2>
  <hr>
  <ul>
    <li>Socks/Nerf Blasters</li>
    <li>Unique ID Card/Identifier*</li>
    <li>Orange Bandana*</li>
  </ul>
  <p>* denotes items provided by the moderators</p>
  <br>
  <h2>GOLDEN RULE OF HVZ: <i onclick="window.open('https://www.youtube.com/watch?v=GGBjfeuR2Rs', 'newwin');">DON'T BE A DICK</i></h2>
  <hr>
  <ul>
    <li>Trust us, the game isn't fun if players become dicks. We've seen it happen every semester. We'll try to moderate a fair game, but in the end it's the players who make the game.</li>
  </ul>
  <br>
  <h2>SILVER RULE OF HVZ: <i>BE A SMART PLAYER</i></h2>
  <hr>
  <ul>
    <li>These rules are not overly complicated, read them and contact a moderator with any questions or concerns.</li>
    <li>There should be very few times that require contacting a moderator during a game. Try to sort out problems amongst yourselves, see GOLDEN RULE.</li>
  </ul>
  <br>
  <h2>SAFTEY RULES (AKA Instantly-Bannable Offenses)</h2>
  <hr>
  <ul>
    <li>Direct compliance with ALL Residence Life and Campus Security staff is required for everyone involved.</li>
    <li>Blasters must be brightly colored and have blaze-orange tips.</li>
    <li>No blasting players without a bandana, or any non-players</li>
    <li>No gameplay off-campus</li>
    <li>Forbidden items
      <ul>
        <li>real weaponry (Desert Eagle, AK-47)</li>
        <li>realistic looking weaponry (airsoft/paintball guns)</li>
        <li>modified blasters/darts/discs</li>
        <li>Nerf Swords/Melee Weapons</li>
        <li>Any sort of wheeled device (car, bike, skateboard, etc.)*</li>
        <li>*If you require a wheeled vehicle to get to obligations, such as work, during gameplay, please remove your bandana and you will be considered not playing during that time.</li>
      </ul>
    </li>
    <li><b>Violation of the safety rules may lead to more serious action taken against players involved, such as Campus Security.</b></li>
  </ul>
  <br>
  <h2>BANDANA RULES</h2>
  <hr>
  <ul>
    <li>All player's bandanas must be pure orange (Given to you by a Moderator)</li>
    <li>All player's bandanas must be visible from 50+ feet away.</li>
    <li>Human's bandanas must be worn on their upper arms (NO LEGS).</li>
    <li>Zombie's bandanas must be worn on their foreheads (Ninja-style).</li>
    <li>Zombies must move their bandana to their neck immediately after being stunned by a human, and back to their forehead after being un-stunned.</li>
    <li>Bandanas must be worn around your forehead for at least 30 seconds before tagging a human.</li>
    <li>The OZ is NOT required to wear their bandana on their head for the first several hours of the game.  However, anyone tagged by the OZ must obey standard bandana etiquette.</li>
    <li>While unrevealed, the OZ is not required to move his bandana when stunned, however may not tag any humans.</li>
  </ul>
  <br>
  <h2>ZOMBIES AND STUNNING RULES</h2>
  <hr>
  <ul>
    <li>When shot by a Nerf Blaster or hit with a sock, a zombie is stunned.</li>
    <li>If a human throws a dart/disc by hand, the zombie is NOT stunned.</li>
    <li>If a zombie catches or swats a sock/dart/disc, the zombie is stunned.</li>
    <li>If a zombie is stunned:
      <ul>
        <li>Remain stunned for 10 minutes</li>
        <li>Move away from other players</li>
        <li>NO shielding other zombies</li>
        <li>NO following humans</li>
        <li>NO communicating with other zombies</li>
      </ul>
    </li>
    <li>Zombies should not maliciously pick up human socks/darts. Doing so immediately stuns the zombie.</li>
    <li>30 seconds after moving their headband back to their forehead (after being unstunned), a zombie may tag humans again.</li>
  </ul>
  <br>
  <h2>TAGGING RULES</h2>
  <hr>
  <ul>
    <li>A zombie's tag must be purposeful, not accidental, and must be tagged by hand.</li>
    <li>If a human is tagged by a zombie:
      <ul>
        <li>The human must give their ID card to the zombie.</li>
        <li>The human must move their bandana to their neck (like a stunned zombie).</li>
        <li>After 30 minutes, the human becomes a zombie.</li>
      </ul>
    </li>
    <li>Zombies must report tags within THREE HOURS</li>
    <li>If a zombie fails to report a tag, the tagged player will return to being human (and should contact a moderator for a new ID card)</li>
    <li>Zombies do NOT have to feed/tag to stay alive.</li>
  </ul>
  <br>
  <h2>SAFE ZONES</h2>
  <hr>
  <ul>
    <li>Safe zones are locations where humans may not be tagged, and zombies may not be stunned while inside.</li>
    <li>These locations include:
      <ul>
        <li>Any dorm rooms (including suite lounges)</li>
        <li>Any bathroom</li>
        <li>Any academic building (a building where classes take place)</li>
        <li>The Forum (Is <i>unsafe</i> from 8:00pm-close on Friday and Saturday nights, playable on tile and carpet from DE stairway/elevator to outside the CAE)</li>
        <li>The Serve</li>
      </ul>
    </li>
    <li><i>NOTE ABOUT DOORS:</i>
      <ul>
        <li>Doors have been a considerable problem in the past</li>
        <li>Humans may shoot out of safe zones and stun zombies outside.</li>
        <li>Zombies may tag humans inside a safe zone, as long as both feet touch the ground outside a safe zone.</li>
      </ul>
    </li>
    <li><b>For discrepancies, see GOLDEN RULE.</b></li>
    <li><i>NOTE ABOUT PLAYERS TRAPPED IN A SAFE ZONE:</i>
      <ul>
        <li>If a player is trapped in a safe zone, and they wish to be given a fair chance to escape, they may contact a moderator.  However, if the player is trapped in a no-play zone (such as off-campus, or in rooms that are off-limits to students) the player will immediately be stunned or tagged.</li>
        <li>The moderator will then enact a Standoff Solution:
          <ul>
            <li>The player will be placed in a non-safe-zone room</li>
            <li>The players that were guarding the player will be placed outside this room</li>
            <li>The confrontation may be forced and overseen by the moderator</li>
          </ul>
        </li>
        <li>The Standoff Solution is not to be used as a means of transportation across campus.  If the moderators suspect you of trying to use it for this, you will be immediately be considered stunned or tagged.</li>
        <li>The Standoff Solution will be unavailable during missions and in large buildings where the safe zones have many exits.</li>
      </ul>
    </li>
  </ul>
  <h2>MISSION RULES</h2>
  <hr>
  <ul>
    <li>Missions are necessary to keep human players active, and create fun gameplay for everyone.</li>
    <li>Mission details will be released as missions become available.  Planned mission times will be announced in advance, to allow preparation for when details are released.</li>
    <li>Missions may violate rules setup in the rest of this document* (except safety rules).  Please read mission details <i>carefully</i>, as they may include any of the following:
      <ul>
        <li>Tasks for humans or zombies</li>
        <li>Starting area for humans or zombies</li>
        <li>Starting areas will commonly be marked by orange cones. Inside these areas, standard zoning rules apply.</li>
        <li>Special zones (new safe zones, zombie-free zones, zombie-respawn zones etc.)</li>
        <li>Prizes</li>
        <li>Delta Squad(s) - a neutral unit of humans that doesn't take sides.  They will attack human players and zombie players alike.
          <ul>
            <li>If shot by Delta Squad, you must kneel for fifteen seconds, during which you can still shoot. If you shoot one of them, they are down for five seconds.</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Special zombies:
      <ul>
        <li>Spawner - a zombie that acts as a mobile spawn point for other zombies.</li>
        <li>Long-Arm - a zombie that has been given extended reach (a pool noodle) to tag humans with. The noodle must be held by this zombie, not thrown.</li>
      </ul>
    </li>
    <li>Additional special humans and zombies will be implemented at the liberty of the moderators, with their rulings being within the emails that are sent for missions.</li>
  </ul>
  <br><br>
  <h4>If you have any questions, please contact a moderator</h4>
  <h2 align="center">CONTACT INFORMATION</h2>
  <hr>
  <table style="color: #FFFFFF; width:100%">
    <tr>
      <td>Mel Graf: (319)-743-5848</td>
      <td style="text-align: right">Glenn Hackbarth: (712)-339-7457</td>
    </tr>
  </table>
  <p style="text-align: center">Event Supervisor: David Walker (walker@bvu.edu)</p>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
